$icons: (
      sprite: (width: 2351px, height: 2341px, svgPath: '../sprite/sprite.svg'),
    arrow: (width: 16.13px, height: 9.2px, backgroundX: 0px, backgroundY: 0px),
    close-envelope: (width: 14px, height: 14px, backgroundX: -17px, backgroundY: -10px),
    cross: (width: 15.48px, height: 15.48px, backgroundX: -31px, backgroundY: -24px),
    download: (width: 18px, height: 18px, backgroundX: -47px, backgroundY: -40px),
    envelope: (width: 483.3px, height: 483.3px, backgroundX: -65px, backgroundY: -58px),
    facebook: (width: 96.124px, height: 96.123px, backgroundX: -549px, backgroundY: -542px),
    google-plus: (width: 555.562px, height: 555.562px, backgroundX: -646px, backgroundY: -639px),
    linkedin: (width: 430.117px, height: 430.117px, backgroundX: -1202px, backgroundY: -1195px),
    presentation: (width: 20px, height: 17px, backgroundX: -1633px, backgroundY: -1626px),
    release: (width: 18px, height: 20px, backgroundX: -1653px, backgroundY: -1643px),
    search: (width: 23.31px, height: 23.31px, backgroundX: -1671px, backgroundY: -1663px),
    sound: (width: 21.13px, height: 19.49px, backgroundX: -1695px, backgroundY: -1687px),
    twitter: (width: 612px, height: 612px, backgroundX: -1717px, backgroundY: -1707px),
    video: (width: 22px, height: 22px, backgroundX: -2329px, backgroundY: -2319px),
);