$icons: (
      sprite: (width: 256px, height: 243px, pngPath: '../assets/sprite.png', svgPath: '../assets/sprite.svg'),
    arrow-down-red: (width: 20.16px, height: 11.5px, backgroundX: 0px, backgroundY: 0px),
    arrow-right-grey: (width: 9.2px, height: 16.13px, backgroundX: -21px, backgroundY: -12px),
    arrow-up-green: (width: 16.13px, height: 9.2px, backgroundX: -31px, backgroundY: -29px),
    calendar: (width: 42px, height: 46px, backgroundX: -48px, backgroundY: -39px),
    cross: (width: 15.48px, height: 15.48px, backgroundX: -90px, backgroundY: -85px),
    download-blue-dark: (width: 18px, height: 18px, backgroundX: -106px, backgroundY: -101px),
    presentation-blue-dark: (width: 20px, height: 17px, backgroundX: -124px, backgroundY: -119px),
    release-blue-dark: (width: 18px, height: 20px, backgroundX: -144px, backgroundY: -136px),
    report-blue-dark: (width: 26px, height: 20.73px, backgroundX: -162px, backgroundY: -156px),
    search-blue-dark: (width: 23.31px, height: 23.31px, backgroundX: -188px, backgroundY: -177px),
    sound-blue-dark: (width: 21.13px, height: 19.49px, backgroundX: -212px, backgroundY: -201px),
    video-blue-dark: (width: 22px, height: 22px, backgroundX: -234px, backgroundY: -221px),
);