.arrow {
  width: 16.13px;
  height: 9.2px;
}

.close-envelope {
  width: 14px;
  height: 14px;
}

.cross {
  width: 15.48px;
  height: 15.48px;
}

.download {
  width: 18px;
  height: 18px;
}

.envelope {
  width: 483.3px;
  height: 483.3px;
}

.facebook {
  width: 96.124px;
  height: 96.123px;
}

.google-plus {
  width: 555.562px;
  height: 555.562px;
}

.linkedin {
  width: 430.117px;
  height: 430.117px;
}

.presentation {
  width: 20px;
  height: 17px;
}

.release {
  width: 18px;
  height: 20px;
}

.search {
  width: 23.31px;
  height: 23.31px;
}

.sound {
  width: 21.13px;
  height: 19.49px;
}

.twitter {
  width: 612px;
  height: 612px;
}

.video {
  width: 22px;
  height: 22px;
}

